
<a [routerLink] = "['/']"> >Back To Home</a>

<h2>Add New Student</h2>

<form   id="formNewStudent" name="formNewStudent" #studentData = "ngForm" (ngSubmit)="addNewStudent(studentData.value,$event)">

  <label>Name :</label> <input type="text" name="name" id="name" placeholder="name" ngModel><br><br>
  <label>Age :</label> <input type="text" name="age" id="age" placeholder="age" ngModel><br> <br>
  <label>Class:</label> <input type="class" name="class" id="class" placeholder="class" ngModel><br><br>
  <label>Java :</label> <input type="java" name="java" id="java" placeholder="java marks" ngModel><br><br>
  <label>Angular:</label> <input type="angular" name="angular" id="angular" placeholder="angular marks" ngModel><br><br>
<input type="submit" value="Add Student">
</form>
<br>
<h3 *ngIf="isAdded" >{{confirmationSting}}</h3>